body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.content {
	border: solid 2px #eee;
	margin: 10px 0;
}

.data {
	color: #aaa;
	font-family: monospace;
	width: 100%;
	font-size: 14px;
	border:0;
	padding: 0;
}

.js-content {
	padding: 10px;
}