body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.content {
	border: solid 2px #eee;
	margin: 10px 0;
}

.data {
	color: #aaa;
	font-family: monospace;
	width: 100%;
	font-size: 14px;
	border:0;
	padding: 0;
}

.js-content {
	padding: 10px;
}

.buttons-row {
	display: none;
}

.buttons-row .btn {
	margin-right: 10px;
}

.js-error{
	font-family: monospace;
	font-size: 12px;
	color: #a30707;
	margin-top: 10px;
	border: solid 1px;
	padding: 10px;
	display: none;
	margin-bottom: 20px;
	background-color: white;
}

.__form {
	width: 500px;
}

.form-group .btn {
	margin-right: 10px;
}

.js-remove {
	margin-left: 5px;
	cursor: pointer;
	top: 2px;
}

.template-list__item {
	margin-bottom: 5px;
}
