-
	const META = {
		TITLE: 'Pug viewer',
		CHARSET: 'utf-8',
		SCRIPTS: [
			'https://code.jquery.com/jquery-3.2.1.min.js',
			'/codemirror/lib/codemirror.js',
			'/bootstrap/dist/js/bootstrap.min.js',
			'/main.js'
		],
		STYLES: [
			'/codemirror/lib/codemirror.css',
			'/bootstrap/dist/css/bootstrap.min.css',
			'/common.css',
		]
	};
