.nav {
    width: 100%
}

.nav__list {
    display: table;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
}

.nav__item {
    display: table-cell;
    background-color: #ebfdae;
    text-align: center;
    border-right: solid 2px white;
}

.nav__item:last-child {
    border: none;
}

.nav__item a {
    display: inline-block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}